<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (error) { %>
        <h2><%= error %></h2>
    <% } %>
    <ul>
        <% for (user in users ){%>
            <li><p><%= users[user].lastname %></p><p><%= users[user].firstname %></p><p><%= users[user].phone %></p><p><%= users[user].email %></p><p><%= users[user].validated %></p></li>
        <% }; %>
    </ul>


</body>
</html>